/*********************************************------------------------------Inicio------------------------------*********************************************/
#inicio {
  padding-top: 10rem;
}

#foto-personal {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--sombras);
}


/*********************************************------------------------------Proyectos------------------------------*********************************************/
.lenguajes span {
  color: var(--secondary-color);
  background-image: linear-gradient(43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%);
  padding: 0.1rem;
  font-weight: 500;
}

.card {
  height: 550px;
  background: #1d1e20;
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--sombras);
  scale: 1.02;
}

.carrusel {
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 2rem;
    background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.carrusel:hover .swiper-button-next,
.carrusel:hover .swiper-button-prev {
  opacity: 1;
}

/*********************************************------------------------------Info------------------------------*********************************************/
#info article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 44, 48);
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.233);
  padding: 0.7rem;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
}

#info article:hover {
  box-shadow: var(--sombras);
}

.bg-primary {
  background: var(--gradient-primario);
}

#info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: var(--sombras);
}

#stack-tecnologico img {
  box-shadow: none;
  filter: drop-shadow(0 6px 20px #ffcc7026);
}